:root {
  --font-body: 400 1rem Helvetica, Arial, sans-serif;
  --font-title: 200 2rem Helvetica, Arial, sans-serif;
  --palette-background: #f7faff;
  --palette-foreground: #f9fdff;
  --palette-text: #323232;
  --palette-icon-background: #b3e6d8;
  --palette-icon-color: #007f46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --palette-background: #323232;
    --palette-foreground: #272727;
    --palette-text: #fefefe;
    --palette-icon-background: #248b5e;
    --palette-icon-color: #cdf6ea;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font: var(--font-body);
  background-color: var(--palette-background);
  color: var(--palette-text);
}

.fa-spinner-third {
  color: var(--palette-icon-color);
}
